$black: #0F110C;
$l-pink: #FDECEF;
$d-pink: #fac1cc;
$l-green: #C4E7D4;
$grey: #CECCCC;
$burgundy: #A08282;

.grey-accent {
    background: $grey;
}

.l-pink-accent {
    background: $l-pink;
}

.burgundy-accent {
    background: $burgundy;
}

.l-green-accent {
    background: $l-green;
}